@media screen and (min-width: 1901px){
	a.rightArrow {right: -569px;}
	ol.carousel-indicators {left: 659px;}
}


@media screen and (max-width: 1900px) and (min-width: 1200px){
	.col-xl-8{max-width: 48% !important;}
	a.rightArrow {right: -350px;}
	.loginContainer .loginPopup form label a{font-size: 16px;}
	.loginContainer .loginPopup h5{font-size: 19px;}
}


@media screen and (max-width: 1900px) and (min-width: 1272px){
	.col-xl-8{max-width: 55% !important;}
}


@media screen and (max-width: 1900px) and (min-width: 1532px){
	.col-xl-8{max-width: 68% !important;}
}


@media screen and (max-width: 1900px) and (min-width: 1419px){
	a.rightArrow {right: -424px;}
}


@media screen and (max-width: 1900px) and (min-width: 1645px){
	a.rightArrow {right: -490px;}
}


@media screen and (max-width: 1199px){
	.loginContainer .loginPopup{min-height: 177px;}
}


@media screen and (min-width: 992px) and (max-width: 1199px){
	a.rightArrow {right: -294px;}
	.loginContainer .loginPopup form label a{font-size: 16px;}
	.loginContainer .loginPopup h5{font-size: 17px;}
	.logo .logoContainer a{font-size: 44px;}
	.nav ul li ul{top: 47px;}
	.searchBox input[name="search"]{right: 8px;top: 41px;}
	.loginContainer .loginPopup h3 i.loader{top: 12px;}
}


@media screen and (min-width: 768px) and (max-width: 991px){
	.loginContainer .loginPopup form label a{font-size: 13px;}
	.loginContainer .loginPopup form input[type="text"], .loginContainer .loginPopup form input[type="password"]{font-size: 13px;}
	.loginContainer .loginPopup form label[name="firstNameValidation"], .loginContainer .loginPopup form label[name="lastNameValidation"], .loginContainer .loginPopup form label[name="usernameValidation"], .loginContainer .loginPopup form label[name="passwordValidation"], .loginContainer .loginPopup form label[name="re-enterPasswordValidation"], .loginContainer .loginPopup form label[name="passwordNotMatchedValidation"], .loginContainer .loginPopup form label[name="forgotValidation"], .loginContainer .loginPopup form label[name="phoneNumberValidation"]{font-size: 12px;}
	.loginContainer .loginPopup h5{font-size: 15px;}
	.loginContainer .loginPopup form input[type="submit"], .loginContainer .loginPopup form input[type="button"], .loginContainer .loginPopup form a{font-size: 14px;}
	.logo .logoContainer a{font-size: 35px;}
	.loginContainer .loginPopup h3 i.loader{top: 9px;}
	.nav ul li a{font-size: 13px;padding: 11px 8px;}
	.logOut a{font-size: 12px;padding: 2px 5px;}
	.nav ul li ul{top: 40px;}
	.searchBox input[name="search"]{height: 30px !important;right: 6px;top: 37px;}
	.searchBox i{font-size: 19px;}
	a.rightArrow {right: -229px;}
}


@media screen and (min-width: 894px) and (max-width: 991px){
	a.rightArrow {right: -268px;}
}


@media screen and (max-width: 991px){
	.loginContainer .loginPopup{min-height: 155px;}
}


@media screen and (min-width: 768px){
	.nav>ul{display:flex !important;}
}


@media screen and (max-width: 767px){
	.loginContainer .loginPopup form label a{font-size: 15px;}
	.loginContainer .loginPopup form span i{font-size: 27px;}	
	.loginContainer .loginPopup h5{font-size: 17px;}
	.loginContainer .loginPopup {position: absolute;top: 0px;bottom: 0px;left: 0px;right: 0px;width: auto;height: auto;}	
	.loginContainer .loginPopup h3 {font-size: 33px;}
	.userNamePsswordIncorrect {font-size: 15px;margin: 0px 0px 0px 0px;}
	.loginContainer .loginPopup h3 i.loader {font-size: 22px !important;top: 14px;}
	.loginContainer .loginPopup form label[name="firstNameValidation"], .loginContainer .loginPopup form label[name="lastNameValidation"], .loginContainer .loginPopup form label[name="usernameValidation"], .loginContainer .loginPopup form label[name="passwordValidation"], .loginContainer .loginPopup form label[name="re-enterPasswordValidation"], .loginContainer .loginPopup form label[name="passwordNotMatchedValidation"], .loginContainer .loginPopup form label[name="forgotValidation"], .loginContainer .loginPopup form label[name="phoneNumberValidation"]{font-size: 14px;}
	.loginContainer .loginPopup form input[type="text"], .loginContainer .loginPopup form input[type="password"]{font-size: 16px;}
	.loginContainer .loginPopup form span i {font-size: 24px;}	
	.loginContainer .loginPopup form input[type="submit"], .loginContainer .loginPopup form input[type="button"], .loginContainer .loginPopup form a{font-size: 15px;}
	.textSizeOverride {font-size: 20px !important;margin: 0px 0px 0px 0px !important}
	.loginContainer .loginPopup form{padding: 0px 0px;}	
	.logo .logoContainer a{font-size: 32px;}
	.footer label{font-size: 10px;}
	a.rightArrow {right: -190px;}
	.logOut a{font-size: 12px;padding: 1px 6px;}
	label[name='userNameHome']{font-size: 11px;}
	.searchBox i{font-size: 19px;}
	.searchBox input[name="search"]{height: 28px !important;right: 6px;top: 34px;}	
	.toggleButton{display: block;width: auto;height: auto;margin: auto -4px auto auto;padding: 0px 2px;border: 0px solid #337ab7;border-radius: 2px;cursor: pointer;
	span{padding: 1px 11px;background-color: #337ab7;margin: 4px 0px;display: block;width: auto;height: auto;border-radius: 6px;}}
	.nav{position: static !important;}
	.nav ul{display:none;position: absolute;left: 0px;right: 0px;top: 35px;bottom: 21px;z-index: 10;
	li{display: block;background: #fff;
	a{font-size: 15px;}}
	ul{top: 50px !important;right: 0px !important;
	li{border-bottom: 1px solid #999;
	a{font-size: 14px !important;text-align: center !important;padding: 10px 10px !important;}}}}
}


@media screen and (max-width: 637px){
	a.rightArrow {right: -156px;}
}


@media screen and (max-width: 575px){
	.logo .logoContainer a{padding: 0px 15px;}
	.xsAlignRignt{text-align: center;padding: 0px 10px 0px 0px !important;}
	.toggleButton{margin: auto -17px auto auto;z-index: 1;}
}


@media screen and (max-width: 555px){
	.toggleButton{margin: 0px 0px 0px 0px;left: 97px;position: absolute;right: auto;top: auto;bottom: 4px;}
	.searchBox ~ a{position: absolute;top: auto;bottom: 0px;right: auto;left: -66%;}
	label[name='userNameHome']{font-size: 14px;}
}


@media screen and (max-width: 520px){
	a.rightArrow {right: -132px;}
}


@media screen and (max-width: 440px){
	a.rightArrow {right: -105px;}
}


@media screen and (max-width: 350px){
	a.rightArrow {right: -90px;}
}


@media screen and (max-width: 323px){
	.logOut a{font-size: 9px;padding: 1px 4px;}
	.searchBox{margin: 0px 0px 0px 0px;
	font{margin: 0px 0px;}}
	.searchBox ~ a{display:none;}
	.searchBox input[name="search"]{right: -41px;}
}


@media screen and (max-width: 304px){
	a.rightArrow {right: -73px;}
}


@media screen and (max-width: 244px){
	a.rightArrow {right: -59px;}
}