@import "fonts";

/********************************---Variables Defined---**********************************/
$bodybg: #555;
$fontcolor: #fff;
$PlaceholderColor: #888;
$defval: 0px;
$baseImg: "../images/1.jpg";
$bgBlack: rgba(27, 27, 27, 0.78);
$loginPopupBoxShadow: 0px 2px 20px rgba(0,0,0,0.1), inset 0px 0px 147px 0px rgba(255,255,255,0.4);
$alignLeft: left;
$textUnderline: underline;
$bgWhite: #fff;
$bgContainer: #6d8a94;
$textBlack: #000;
$navhover: #486670 /*#fb5b21*/;


/********************************---Mixins Defined---**********************************/
@mixin border-radius($radius){-webkit-border-radius: $radius;-moz-border-radius: $radius;-ms-border-radius: $radius;border-radius: $radius;}


/********************************---Style Script---**********************************/
body{background-color: $bodybg !important;color: $fontcolor !important;/*background-image: url($baseImg);*/background-repeat: repeat;background-attachment: fixed;background-position: 0px 0px;background-size: 100%;}
.noMargin{margin: $defval !important;}
.noPadding{padding: $defval !important;}
.displayFlex{display: flex;margin: $defval; padding: $defval;height: auto;width:auto;align-items: center;justify-content: center;}
.textLeft{text-align: $alignLeft !important;}
.textUnderline{text-decoration: $textUnderline !important;}
.backToLogin{margin: 10px 10px !important;width: auto !important;font-size: 1.1vw !important;display: inline-block !important;float: none !important;}
form[name='message']{text-align: center;margin: 43px 0px !important;}
.userNamePsswordIncorrect{display: block;text-align: center;font-size: 1.4vw;color: yellow;opacity: 0;transition: all 0.3s 0.0s;margin: 0px 0px;padding: 0px 0px;}
.bgWhite{background-color: $bgWhite;color: $textBlack;}
.bgContainer{background-color: $bgContainer;color: $textBlack;}
.active{background-color: #000;color: $fontcolor !important;text-decoration: none;}
.wrapper{display: block;}
.bgBlack{background-color: $textBlack;color: $bgWhite;}
.textSizeOverride{font-size: 2.5vw !important;margin: 10px 0px 0px 0px !important;}
div.sliderContainerResponsive{max-width:70%;}
a.rightArrow{right:-400px;}
ol.carousel-indicators{left:417px;}
.toggleButton{display:none;}


.loginContainer{display: flex;height: auto;position: fixed;top: 0px;bottom: 0px;left: 0px;right: 0px;justify-content: center;align-items: center;background-color: #272727b8;z-index: -2;overflow: auto;/*@include border-radius(6px);*/
.loginBk{background-image: url($baseImg);background-position: center, center, center, center; background-size: cover, cover;background-repeat: no-repeat; /*filter: blur(10px);*/position: fixed;top: 0px;left: 0px;right: 0px;bottom: 0px;z-index: -1;background-attachment: fixed;}
.loginPopup{width: 32vw;height: auto;margin: 0px 0px 0px 0px;padding: 10px 10px;box-sizing: border-box;box-shadow: inset 0px 0px 50px 0px #000, 0px 0px 50px 0px #fff/*none*//*$loginPopupBoxShadow*/;background: $bgBlack/*transparent*/;min-height: 225px;@include border-radius(5px);opacity: 0;transform: rotateX(90deg);transition: all 1s 0.0s;
h3{display: block;margin: 10px 0px 10px 0px;text-align: center;text-decoration: none;font-size: 3.3vw;position: relative;
i.loader{display: none;font-size: 2.6vw !important;position: absolute;top: 17px;right: auto;left: auto;bottom: auto;margin: 0px 0px 0px 7px;transition: all 0.3s 0.0s;opacity: 0;}}
h5{text-align: center;color: yellow;font-size: 1.3vw;}
form{display: block;width: 100%;height: auto;margin: 0px 0px 0px 0px;padding: 10px 10px;align-items: center;justify-content: center;
input[type="text"], input[type="password"]{display: block;width: 100%;margin: 0px 0px 15px 0px;padding: 7px 7px;text-align: left;color: $PlaceholderColor;font-size: 1.4vw;box-shadow: 0px 0px 0px 0px #000;border: 1px solid #fff;background: transparent; @include border-radius(4px);transition: all 0.3s 0.0s;outline: 0px;}
input:focus{border: 1px solid #5aafe7;transition: all 0.3s 0.0s;}
input[type="submit"], input[type="button"], a{display: inline-block;width: auto;font-size: 1.4vw;text-decoration: none;font-weight: 400;margin: 0px 0px 0px 10px;background-color: #337ab7;border: 1px solid #337ab7;float: right;padding: 3px 19px;transition: all 0.3s 0.0s;}
input[type="submit"]:hover, input[type="button"]:hover, a:hover, input[type="submit"]:active, input[type="button"]:active, a:active{transition: all 0.3s 0.0s;border: 1px solid #fff !important;color: #fff;background-color: transparent !important;box-shadow: 0px 0px 10px 0px #555;}
input[type="submit"]:focus, input[type="button"]:focus, a:focus, input[type="submit"]:active:focus, input[type="button"]:active:focus, a:active:focus{transition: all 0.3s 0.0s;box-shadow: 0px 0px 10px 0px #555;}
a:not(:disabled):not(.disabled):active, a:not(:disabled):not(.disabled):focus, a:not(:disabled):not(.disabled):hover{border-color: transparent;outline: none;box-shadow: none;}
label{display: inline-block;margin: 0px 0px 10px 0px;padding: 0px 0px;text-transform: capitalize;font-size: 1.1vw;text-decoration: none;line-height: 1.3em;color: #fff;transition: all 0.3s 0.0s;cursor: pointer;
a{display: inline-block;margin: 0px 0px 0px 0px;padding: 0px 0px;text-transform: capitalize;font-size: 1.1vw;font-weight: 100;color: #fff;transition: all 0.3s 0.0s;cursor: pointer;text-decoration: underline;background-color: transparent;border: none;float: none;width: auto;height: auto;}
a:hover{text-decoration: underline;transition: all 0.3s 0.0s;border: none !important;box-shadow: none;}
a:focus{box-shadow: none;outline: none;}
a:active{border: none !important;box-shadow: none;}}
a.LinkOverride{display: inline-block;width: auto;margin: 0px 0px;padding: 0px 0px;outline: none;border: none;color: #fff;transition: all 0.0s 0.0s;background-color: transparent;line-height: 1em;}
a.LinkOverride:hover, a.LinkOverride:active, a.LinkOverride:focus{border: none !important;box-shadow: none;}
label:hover{text-decoration: underline;transition: all 0.3s 0.0s;}
label[name="firstNameValidation"], label[name="lastNameValidation"], label[name="usernameValidation"], label[name="passwordValidation"], label[name="re-enterPasswordValidation"], label[name="passwordNotMatchedValidation"], label[name="forgotValidation"], label[name="phoneNumberValidation"]{cursor: default;display: block;font-size: 1.1vw;margin: 0px 0px;padding: 0px 0px;color: yellow;text-shadow: none;font-weight: 100;transition: cubic-bezier(.06,.78,.1,1.28) 0.5s 0.0s;transform: translateX(-179px);opacity: 0;}
label[name="passwordNotMatchedValidation"]{position: absolute;}
label[name="firstNameValidation"]:hover, label[name="lastNameValidation"]:hover, label[name="usernameValidation"]:hover, label[name="passwordValidation"]:hover, label[name="re-enterPasswordValidation"]:hover, label[name="passwordNotMatchedValidation"]:hover, label[name="forgotValidation"]:hover, label[name="phoneNumberValidation"]:hover, label[name="firstNameValidation"]:focus, label[name="lastNameValidation"]:focus, label[name="username"]:focus, label[name="password"]:focus, label[name="re-enterPasswordValidation"]:focus, label[name="passwordNotMatchedValidation"]:focus, label[name="forgotValidation"]:focus, label[name="phoneNumberValidation"]:focus{text-decoration: none;text-decoration: none;outline: none;text-shadow: none;transition: cubic-bezier(.06,.78,.1,1.28) 0.5s 0.0s;}
div{text-align: center;clear: both;}
span{display: block;margin: 0px 0px;padding: 0px 0px;position: relative;
i{display: inline-block;position: absolute;right: 5px;top: 9px;left: auto;bottom: auto;font-size: 2vw;cursor: pointer;color: #888;transition: all 0.3s 0.0s;}}}}}


.logo{
.logoContainer{display: block;width: auto;height: auto;padding: 0px 0px;margin: 0px 0px;
a{display: inline-block;font-family: Faster One/*pattaya*/;font-size: 52px;font-weight: 500;color: #486670;line-height: 1em;text-decoration: none;width: auto;height: auto;margin: 0px 0px;padding: 0px 5px;text-shadow: -1px 2px 2px #aaa;}
a:hover, a:focus, a:active{text-decoration: none;}}}
.nav{
ul{position: relative;padding: 0px 0px;margin: 0px 0px;list-style-type: none;width: auto;display: flex;height: auto;
li{position: relative;display: inline-flex;margin: 0px 0px;padding: 0px 0px;
a{display: block;width: auto;height: auto;margin: 0px 0px;padding: 15px 16px;font-size: 1.2vw;color: #333;text-align: center;text-decoration: none;text-transform: capitalize;font-weight: 500;outline: none;transition: all 0.3s 0.0s}
a:hover{background-color: $navhover;color: $fontcolor;text-decoration: none;outline: none;}
a:active{background-color: navhover;color: $fontcolor;text-decoration: none;outline: none;}
a:focus{background-color: navhover;text-decoration: none;outline: none;}
ul{z-index: 99;display: block;opacity: 0;transform: scaleY(0);position: absolute;top: 54px;left: 0px;bottom: auto;right: auto;width: auto;height: auto;margin: 0px 0px;padding: 0px 0px;transition: all 0.3s 0.0s;
li{display: block;width: 100%;height: auto;margin: 0px 0px;padding: 0px 0px;
a{white-space: nowrap;display: block;padding: 3px 10px;margin: 0px 0px;width: 100%;height: auto;background-color: #fff;color: #333 !important;font-size: 1.2vw;font-weight: 400;text-align: left;transition: all 0.1s 0.0s;}
a:hover{background-color: $navhover;color: $fontcolor !important;text-decoration: none;outline: none;}
a:focus{background-color: navhover;text-decoration: none;outline: none;}
a:active{background-color: $navhover;color: $fontcolor;text-decoration: none;outline: none;}
a.active{background-color: #000;color: $fontcolor !important;text-decoration: none;}}}}
li:hover>ul#subMenuStrip{opacity: 1;transform: scaleY(1);}
li:hover>a{background-color: $navhover;color: $fontcolor;}}}


.searchBox{display: inline-block;width: auto;position: relative;padding: 0px 0px;margin: 0px 0px 0px 10px;outline: 0px;height: auto;line-height: 2em;
i{display: inline-block;width: auto;height: auto;font-size: 1.6vw;color: #888;transition: all 0.3s 0.0s;cursor: pointer;}
i:hover{color: $textBlack}
input[name="search"]{height: 32px !important;z-index: 98;opacity: 0;position: absolute;left: auto;right: 15px;top: 44px;bottom: auto;color: #888;font-size: 15px;width: 0px;height: auto;margin: 0px 0px;padding: 0px 5px;@include border-radius(3px);border: 1px solid $navhover/*#000*/;box-shadow: none;transition: all 0.3s 0.0s;display: block;}
input[name="search"]:focus, input[name="search"]:active{outline: none;box-shadow: inset 0px 0px 9px 0px #aaa /*0px 2px 5px 0px #555*/;}
font{display: inline-flex;margin: 0px 6px;padding: 0px 0px;font-size: 23px;color: $navhover;font-weight: 100;align-items: center;justify-content: center;}}
label[name='userNameHome']{display: inline-block;margin: 0px 5px 0px 0px;padding: 0px 4px;width: auto;height: auto;font-size: 14px;color: #337AB7;font-weight: 700;cursor: pointer;text-shadow: none;border-bottom: 1px solid #337AB7;border-radius: 3px;line-height: 1em;}


.logOut{display: inline-block;width: auto;position: relative;padding: 0px 0px;margin: 0px 0px;outline: 0px;height: auto;
a{display: inline-block;width: auto;font-size: 15px;text-decoration: none;font-weight: 500;margin: 0px 0px;background-color: #337ab7;border: 1px solid #337ab7;padding: 2px 8px;transition: all 0.3s 0.0s;color: $fontcolor;@include border-radius(2px);}
a:hover{color: $fontcolor;text-decoration: none;}
a:focus{color: $fontcolor;text-decoration: none;}
a:active{color: $fontcolor;text-decoration: none;}}


.subMenuclasses{display: flex;align-items: center;justify-content: center;min-height: 580px !important;border-top: 1px solid #486670;
div{padding: 50px 10px;margin: 0px auto;width: 100%;border: 1px solid #486670;@include border-radius(5px);box-shadow: inset 0px 0px 24px #aaa, 0px 0px 5px #ccc;background-color: #fff;
h6{margin: 0px 0px;padding: 0px 0px;font-size: 18px;font-weight: 400;color: #000;text-shadow: none;text-align: center;text-transform: capitalize;
span{font-weight: 700;display: inline;}
label{display: block;font-size: 28px;font-weight: 500;margin: 0px 0px 15px 0px;padding: 0px 0px;}}
span{display: block;align-items: center;justify-content: center;margin: 15px 0px;font-size: 16px;text-transform: capitalize;text-align: center;
span{display: inline-block;margin: 0px 5px 6px 5px;padding: 0px 0px;font-weight: 700;}
label{margin: 0px 10px 0px 0px;cursor: pointer;
input[type='radio']{position: relative;top: 2px;margin: 0px 1px 0px 0px;}}
a{background-color: #337ab7;border: 1px solid #337ab7;color: #fff !important;cursor: pointer;font-size: 17px;margin: 0px 0px;padding: 1px 7px;outline: none;transition: 0.3s 0.0s all;}
a:active, a:hover, a:focus{text-decoration: none;box-shadow: 0px 0px 4px #888;}
div{display: block;margin: 10px 0px 6px 0px;padding: 0px 0px;box-shadow: none;border: none;width: auto;}}
h3{text-align: center;font-weight: 100;}}}


.footer{
label{display: inline-block;width: auto;height: auto;font-size: 1vw;margin: 5px 5px;padding: 10px 5px;letter-spacing: 1px;line-height: 1em;}}


/********************************---Media Query Starts---**********************************/
@import "media";

/********************************---Media Query Ends---************************************/